
:root {
    --black: #000000;
    --white: #ffffff;
    --dark-shadeblue: #1c1c44;
    --medium-shadeblue: #33337c;
    --light-shadeblue: #4a4ab3;
    --dark-tintblue: #5757ba;
    --medium-tintblue: #9c9cd6;
    --light-tintblue: #e2e2f3;
  }


body{
	background: white;
}



/* start header */
nav{
    background-color:var(--light-shadeblue);
    padding: 10px;
}
.header-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}
nav .logo img{
    width: 30%;
}
.pages-links button{
    margin: 10px;
}
.car-color-style{
    color: white;
    font-size: 20px;
    margin-right: 10px;
    /* text-decoration-line: none !important; */
}
.pages-links .dot{
    text-decoration: none;
}

/* start header */


.cart{
	margin: 20px 0;
	background-color: #F6F5FA;;
	padding: 60px 0;
}
.total-price{
	padding-bottom: 15px;
}
.cart-item{
	background-color: #fff;
	border-radius: 10px;
	padding: 15px 20px;
	margin-bottom: 20px;
}
.center-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.cart-item img{
	width: 115px;
}
.cart-item h5{
    padding: 0 45px;
}
.cart-item .remove-item{
	width: 25px!important;
}
.btn-default{
	background-color: #fff;
}
.cart-item .form-control{
	background-color: #F6F5FA;
	border: none;
    width: 65px;
    border-radius: 10px!important;
    font-weight: 700;
    font-size: 20px;
}
.input-group{
	width: unset;
	flex-wrap: nowrap;
}
.status{
	text-align: right;
}
.center-item svg{
    color: red;
}
 .check-out{
    
    padding: 10px 30px;
	font-size: 19px;
	background-color: var(--light-shadeblue);
	border: none;
    
}
.center-button{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.center-button button{
    width: 60%;
    border-radius: 30px;
}
.center-button button:hover{
    background-color: var(--medium-shadeblue);
}
/* Start Footer */

footer{
    position: relative;
    width: 100%;
    background-color: var(--light-shadeblue);
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

footer .social-media-icons ,footer .menu{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 20%;
    flex-wrap: wrap;
}
footer .social-media-icons li, footer .menu li{
    list-style: none;
}
footer .social-media-icons li a{
    font-size: 2em;
    color: white;
    margin: 0 10px;
    display: flex;
    transition: 0.5s;
    margin: 0 30px;
}
footer .social-media-icons li a:hover{
    transform: translateY(-10px);
}

footer .menu li a{
    font-size: 1.2em;
    color: white;
    margin: 0 10px;
    display: flex;
    text-decoration: none;
    opacity: 0.75;
    margin: 0 40px;
}
footer .menu li a:hover{
    opacity: 1;
}
footer p{
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.1em;
}
/* End Footer */


@media (max-width: 840px) {
    
    body{
        width: 120%;
    }
    nav .logo img {
        width: 50%; 
        height: 50px;
    }
    
    .header-section {
        margin: 0 10px; 
    }
    
    .pages-links button {
        font-size: 10px;
        padding: 4px;
    }


	
    footer  {
        flex-direction: row;
        align-items: center;
    }
    footer .social-media-icons{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    footer .menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    footer .menu li{
        margin-bottom: 3px;
    }
    footer .social-media-icons li{
        margin-bottom: 5px;
    }
    .footer-p{
        display: none;
    }
}
